@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
body {
	font-family: "Potta One", cursive;
}

.CryptoMain {
	margin: 2rem auto auto auto;
	height: 100%;
	width: 100%;
	display: flex;
	background: #000;
	opacity: 0.7;
	h1 {
		color: whitesmoke;
	}
	.CryptoValues {
		display: flex;
		justify-content: space-evenly;
		flex: 1;
	}
}
.CryptoForm {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	color: whitesmoke;
	background: #000;
	opacity: 0.7;
}
.CryptoFilterTop {
	input {
		border: none;
		outline: none;
		padding: 5px 0;
	}
}
