@import "./bookMixins.scss";

.BookLists {
	width: 90%;
	margin: 2rem auto;
	display: flex;
	button {
		align-items: center;
	}
	h2 {
		@include flexColumn;
		margin: 0 1rem;
		span {
			color: red;
		}
		img {
			min-width: 200px;
			min-height: 290px;
			max-height: 300px;
			max-width: 320px;
		}
	}
	button {
		max-height: 100px;
		min-height: 90px;
	}
}
